<div class="row" style="margin-top:100px;">
    <div class="col-xs-12 col-sm-3">
        <input type="number" class="form-control" id="firstNumber" />
        <div id="firstNumberError" class="text-danger"></div>
    </div>
    <div class="col-xs-12 col-sm-1">
        <select class="form-control" id="operation" style="font-weight:bold;font-size:20px;">
            <option value="Plus">+</option>
            <option value="Minus">-</option>
            <option value="Divide">/</option>
            <option value="Multiple">*</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-3">
        <input type="number" class="form-control" id="secondNumber" />
        <div id="secondNumberError" class="text-danger"></div>
    </div>
    <div class="col-xs-12 col-sm-1">
        <h1 style="margin:0;text-align:center;">
            =
        </h1>
    </div>
    <div class="col-xs-12 col-sm-2">
        <input type="number" class="form-control" id="result" readonly />
    </div>
    <div class="col-xs-12 col-sm-2">
        <input type="button" class="form-control btn-primary" id="calculate" value="Calculate" />
    </div>
</div>

